<section class="p-3">
    <h3 class="pb-2">create a new post</h3>

    <form class="new-post-form">
        <div>
            <label for="post-title">title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <br>
        <div>
            <label for="post-url">link</label>
            <input type="text" id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn pt-2">create post</button>
    </form>
</section>

<br>

{{#if posts.length}}
<section class="pl-3">
    <h2 class="p-3">your posts</h2>
    {{#each posts as |post|}}
    <ul class="post pl-1">
        <li>
            {{> post-info post}}
        </li>
    </ul>
    {{/each}}
</section>
{{/if}}
<script src="/javascript/create-post.js"></script>