<section class="p-3">
    <h3 class="pb-2">create a new post</h3>

    <form class="new-post-form mx-auto">
        <div>
            <label for="post-title">title:</label>
            <br>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <br>
        <div>
            <label for="post-content">content:</label>
            <br>
            <textarea type="text" id="post-content" name="post-content"></textarea>
        </div>
        <button type="submit" class="p-1">create post</button>
    </form>
</section>

<br>

<section>
    <h3 class="your-dash">your posts</h3>
    {{#if posts.length}}
        {{#each posts as |post|}}
        <ul class="post">
                {{> post-info post}}
        </ul>
        {{/each}}
    {{/if}}
</section>
<script src="/javascript/create-post.js"></script>