<section>
    <h3>create a new post</h3>

    <form class="new-post-form">
        <div>
            <label for="post-title">title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <br>
        <div>
            <label for="post-url">link</label>
            <input type="text" id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn">create post</button>
    </form>
</section>

<br>

{{#if posts.length}}
<section>
    <h2>your posts</h2>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
<script src="/javascript/create-post.js"></script>