<article>
    <a class="back-dash" href="/dashboard">back to dashboard</a>
    <h3 class="edit-post">edit post</h3>

    <form class="edit-form">
        <div class="edit-title">
            <input name="title" type="text" value="{{post.title}}"/>
        </div>
        <div class="edit-content">
            <textarea name="edit-content" class="edit-content" type="text">{{post.post_content}}</textarea>
        </div>

        <button type="submit">save post</button>
        <button type="btn" class="delete">delete post</button>
    </form>

</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>