<article>
    <a href="/dashboard">back to dashboard</a>
    <h2>edit post</h2>

    <form class="edit-form">
        <div class="edit-title">
            <input name="title" type="text" value="{{post.title}}"/>
        </div>
        <div class="edit-content">
            <textarea name="edit-content" type="text" value="{{post.post_content}}"></textarea>
        </div>

        <button type="submit">save post</button>
        <button type="btn" class="delete">delete post</button>
    </form>

</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>