<form class="login">
    <div class="d-inline-flex m-2">
        <label for="email-login" class="m-1">email:</label>
        <input type="text" id="email-login"/>
    </div>
    <br>
    <div class="d-inline-flex m-2">
        <label for="password-login" class="m-1">password:</label>
        <input type="password" id="password-login"/>
    </div>

    <div>
        <button class="btn" type="submit">login</button>
    </div>
</form>

<form class="signup">
    <div class="d-inline-flex m-2">
        <label for="username-signup" class="m-1">username:</label>
        <input type="text" id="username-signup"/>
    </div>
    <br>
    <div class="d-inline-flex m-2">
        <label for="email-signup" class="m-1">email:</label>
        <input type="text" id="email-signup"/>
    </div>
    <br>
    <div class="d-inline-flex m-2">
        <label for="password-signup" class="m-1">password:</label>
        <input type="password" id="password-signup"/>
    </div>
    <br>
    <div>
        <button class="btn" type="submit">signup</button>
    </div>
</form>
<script src="/javascript/login.js"></script>