* {
    background-color: #BCC4DB;
    font-family: 'Roboto Slab', serif;
}

h2 {
    color: #2C4251;
    font-size: 24px;
}

.btn {
    padding: 1px;
}

.post {
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.post-list {
    margin: 5px;
}

a {
    text-decoration: none;
    color: #2C4251;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

a:hover {
    color: #CB904D;
}

nav {
    font-size: 16px;
}
