* {
    background-color: #BCC4DB;
    font-family: 'Roboto Slab', serif;
}

h2 {
    color: #2C4251;
    font-size: 36px;
    background-color: #9097AB;
}

header {
    padding: 3px;
    text-align: center;
    border-bottom: solid 3px #35524A;
    background-color: #9097AB;
}

.login {
    display: inline-block;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 14px;
}

.signup {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
}

#email-login {
    padding-top: 5px;
}

#password-login {
    padding-top: 2px;
}


#password-length {
    font-style: italic;
    font-size: 12px;
}

/* .btn {
    padding-left: 1px;
} */

.btn:hover {
    color: #CB904D;
    opacity: 0.5;
}

.title {
    padding-left: 5px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: #2C4251;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

a:hover {
    color: #CB904D;
    font-style: italic;
}

nav {
    padding-left: 10px;
    font-size: 16px;
    background-color: #9097AB;
}

nav a {
    background-color: #9097AB;
}

.meta {
    font-size: 12px;
    padding-left: 15px;
}

ul, li {
    list-style: none;
    margin-bottom: 0px;
}

.post-date {
    font-size: 12px;
}

.new-post-form {
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.your-dash {
    padding-left: 30px;
}

.post {
    padding-left: 30px;
}

#post-content {
    height: 150px;
    width: 700px;
}

.post-link {
    font-size: 24px;
}

.post-author {
    font-size: 12px;
    color: #35524A;
    margin-left: 10px;
    margin-bottom: 0px;
}

.post-content {
    font-size: 14px;
    margin-bottom: 1px;
}

.comment-length {
    font-size: 14px;
    margin-left: 0px;
}

.back-dash {
    margin-left: 5px;
}

.edit-post {
    margin-left: 20px;
}

.edit-post-link {
    font-size: 12px;
}

.edit-form {
    margin-left: 30px;
}

.edit-title {
    margin-bottom: 10px;
}

.edit-content {
    height: 150px;
    width: 700px;
    margin-bottom: 10px;
}

.comment {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #B5B8BD;
}

.comment-text {
    padding-left: 10px;
}

footer {
    font-size: 12px;
}